name: Corteva Data Ingestion

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with pylint
        run: |
          pylint $(git ls-files '*.py') --disable=C0111,C0114,C0115,C0103,E1101,R0903,W0703,R0914 --ignore-paths="./weatherapp/migrations/" --ignore="manage.py"
      - name: Test with django test
        run: |
          python manage.py test
